[Unit] 
Description=Keep a tunnel to 'target_box' open 
After=network-online.target

[Service] 
Environment=AUTOSSH_GATETIME=0
User=autossh
ExecStart=/usr/bin/autossh -M 0 autossh@'target_box' -N -o ExitOnForwardFailure=yes -o ServerAliveInterval=60 -o ServerAliveCountMax=3 -R 'connect_port':localhost:'target_box_ssh_port'
ExecStop=/usr/bin/pkill autossh
Restart=always
RestartSec=5

[Install] 
WantedBy=multi-user.target
